---
layout: default
---

<section>
    {{ content }}
</section>

{% assign technologies = site.technologies | where_exp: "technology", "page.technologies contains technology.label" | sort: "title" %}
{% assign external_links = page.external_links %}

{% if technologies.size > 0 %}
<section>
    <h2>Tecnologias</h2>
    
    <ul>
        {% for technology in technologies %}
        <li>
            <a href="{{ technology.url }}" target="_self" rel="noopener noreferrer">
                {{ technology.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

{% if external_links.size > 0 %}
<section>
    <h2>Ligações Externas</h2>

    <ul>
        {% for external_link in external_links %}
        <li>
            <a href="{{ external_link[1] }}" target="_blank" rel="noopener noreferrer">
                {{ external_link[0] | capitalize }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
