---
layout: default
---

<section>
    {{ content }}
</section>

{% assign projects = site.projects | where_exp: "project", "project.technologies contains page.label" | sort: "title" %}

{% if projects.size > 0 %}
<section>
    <h2>Projetos</h2>

    <ul>
        {% for project in projects %}
        <li>
            <a href="{{ project.url }}" target="_self" rel="noopener noreferrer">
                {{ project.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
