/* GENERAL */

.app {
    display: flex;

    flex-shrink: 0;
    flex-grow: 1;
    flex-direction: column;

    width: 100%;
    height: 100dvh;
}

/* HEADER */

.app-header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 160px;

    background-image: url("../assets/images/headers/default.webp");
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    image-rendering: pixelated;

    animation: movement-pattern 100s linear infinite;
}

.app-header-content {
    display: flex;

    justify-content: center;

    width: 100%;
    height: 100%;

    align-items: center;
    align-content: center;

    gap: 30px;
}

.app-header-title {
    width: 524px;
    height: 122px;

    background-image: url("../assets/images/texts/title.webp");
    background-repeat: no-repeat;
    
    image-rendering: pixelated;

    scale: 0.5;
}

/* MAIN */

.app-main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 8px;
    gap: 32px;
}

.app-section-container {
    min-width: 960px;
    max-width: 960px;

    min-height: 480px;
}

.app-section {
    width: 100%;
    height: 100%;
}

.app-section-header {
    display: flex;

    justify-content: center;

    margin-bottom: 32px;
    padding: 8px;

    border-radius: 16px;

    background-color: #0d1117;

    color: white;

    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.app-section-main {
    padding: 16px;
    border-radius: 16px;
}

.app-section-pagination {
    display: flex;

    width: 100%;
    max-width: 960px;

    justify-content: space-between;

    padding: 8px;

    background-color: #0d1117;

    border-radius: 16px;

    opacity: 0.8;
}

/* FOOTER */

.app-footer {
    display: flex;

    align-content: center;

    width: 100%;
    height: 160px;

    padding: 16px;

    background-image: url("../assets/images/footers/default.webp");
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    image-rendering: pixelated;

    color: white;

    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
