/* GENERAL */

.app {
    display: flex;
    
    flex-direction: column;

    width: 100%;
    height: 100%;
}

/* HEADER */

.app-header {
    display: flex;

    justify-content: space-between;

    width: 100%;
    height: 128px;

    background-image: url("../assets/images/header/header.webp");
    background-repeat: repeat-x;
    image-rendering: pixelated;

    animation: movement-pattern 100s linear infinite;

    z-index: 9999;
}

.app-header-content {
    margin-top: 16px;
}

.app-header-title {
    width: 524px;
    height: 122px;

    margin-top: -32px;

    background-image: url("../assets/images/texts/title.webp");
    background-repeat: no-repeat;
    
    image-rendering: pixelated;

    scale: 0.5;
}

.app-header-navigator {
    width: 32px;
    height: 32px;

    margin-top: 16px;
    margin-right: 32px;

    background-image: url("../assets/images/icons/menu.webp");
    background-repeat: no-repeat;

    image-rendering: pixelated;

    background-color: transparent;
    border: none;

    scale: 1.5;

    cursor: pointer;
}

/* MAIN */

.app-main {
    padding: 32px;
}

.app-section-pagination {
    display: flex;

    justify-content: space-between;

    padding: 32px;
}

/* FOOTER */

.app-footer {
    display: flex;

    align-content: center;

    width: 100%;
    height: 100%;

    padding: 32px;
}

/* ANIMATIONS */

@keyframes movement-pattern {
    from {
        background-position: top right;
    }

    to {
        background-position: bottom left;
    }
}