:root {
    --color-bg: #F4F1EA;
    --color-text: #2F2C29;
    --color-text-soft: #5A5550;
    --color-accent: #6D5C8C;
    --color-accent-hover: #564574;
    --color-border: #D9D3C8;

    --font-title: 'Bitter', serif;
    --font-body: 'Merriweather', serif;
}
