body {
    width: 100%;
    height: 100dvh;

    background-image: url("../assets/images/backgrounds/pattern.webp");
    image-rendering: pixelated;

    animation: movement-pattern 100s linear infinite;
}