/* BUTTONS */

.btn {
    background-color: #415A77;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.btn button:hover {
    background-color: #778DA9;
}
