@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    width: 100dvw;
    height: 100dvh;

    font-family: 'Inter', sans-serif;
    background-color: #0D1B2A;
    color: #E0E1DD;
}
